.social-links-link{
    display: flex;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    fill: #afb1b8;
   
}
.social-links-link:hover,
.social-links-link:focus{
    fill:  #fff;
    background-color: var(--main-color); 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.social-icon:hover{
    fill: white;

}