:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
}

body {
  font-family: var(--main-font);
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.link {
  list-style: none;
}
.logo,
.menu__link,
.header__phone,
.header__mail,
.footer-logo,
.address-mail,
.address-phone {
  text-decoration: none;
}
.logo_accent {
  color: var(--main-color);
}
